body{
    background-color: #333;
    color: white;
    padding: 25px;
}

#firstcard{
    background: #41D8AB;
    color: #fff;
    padding:15px;
}

#secondcard{
    background: #35B28D;
    color: #fff;
    padding: 15px;
}

#thirdcard{
    background: #1E6650;
    color: #fff;
    padding: 15px;
}